
.sponsor {
    display: flex;
    flex-direction: column;
}

.text {
    text-align: justify;
}

.button {
    outline-color: green !important;
    color: green !important;
}

.box {
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 1rem;
}